<html>
  <body>
    <form method="post" action="convert">
      <input type="text" name="number" placeholder="Number">
      <input type="submit" value="convert">
    </form>
    <%=answer%>
  </body>
</html>  